* {
  box-sizing: border-box;
}
  
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #F3EFF5;
  border: 1px solid black;
}

footer {
  display: block;
  height: 40px;
  background-color: #0D0A0B;
}

h1, #intro, #projects, #contact {
  padding: 0 10%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #087E8B;
  text-align: center;
}

h2 {
  color: #8E3B46;
  margin-bottom: 30px;
}

.navbar{
  background-color: #0D0A0B;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 5%;
  margin-bottom: 40px;
}

.navbar a, .navbar a:visited {
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu > li {
  display: block;
  margin-right: 20px;
}

#projects ul{
  list-style-type: none;
  display: flex;
}

#projects li{
  border: 1px solid black;
  width: 320px;
}

#projects li h3{
  color: #087E8B;
  text-align: center;
}

body{
  padding: 0 0;
  border: 0px;
}

#projects img{
  width: 220px;
  height: 150px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-bottom: 20px;
}

#projects li p{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px){
  #projects li{
    width: 500px;
  }

  #projects li p{
    float: right;
    clear: right;
  }
  
  #projects img{
    float: left;
    margin: 20px;
  }
}

#intro, #projects, #contact {
  line-height: 150%;
  max-width: 1000px;
  margin-top: 40px;
}

a {
  color: #666464;
}

a:hover {
  color: #979797;
}

#contact i {
  font-size: 40px;
  margin-right: 20px;
}

.contact-icons {
  text-align: center;
}