* {
  box-sizing: border-box;
}
  
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1, #intro, #projects, #contact {
  padding: 0 10%;
}

.navbar{
  background-color: #101010;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 5%;
  margin-bottom: 40px;
}

.navbar a, .navbar a:visited {
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu > li{
  display: block;
  margin-right: 20px;
}

.demo {
  display: block;
  width: 80%;
  height: 400px;
}

@media screen and (min-width: 800px) {
  .demo {
    width: 600px;
  }
}

#intro, #projects, #contact {
  line-height: 150%;
  max-width: 1000px;
  margin-top: 40px;
}

a {
  color: #666464;
}

a:hover {
  color: #979797;
}